[Startup]
    ; ##
    ; ## REGIONS
    ; ##

    ; Determine where OpenSimulator looks for the files which tell it which regions to server
    ; Defaults to "filesystem" if this setting isn't present
    region_info_source = "filesystem"
    ; region_info_source = "web"

    ; Determines where the region XML files are stored if you are loading these from the filesystem.
    ; Defaults to bin/Regions in your OpenSimulator installation directory
    regionload_regionsdir="../etc/Regions"

    ; Determines the page from which regions xml is retrieved if you are loading these from the web
    ; The XML here has the same format as it does on the filesystem (including the <Root> tag),
    ; except that everything is also enclosed in a <Regions> tag.
    ; regionload_webserver_url = "http://example.com/regions.xml";

[Network]
    http_listener_port = 9000

[DatabaseService]
    ;
    ; ### Choose the DB
    ;

    ; SQLite
    Include-Storage = "config-include/storage/SQLiteStandalone.ini";

    ; Unfortunately the current SQLite database plugin is not compatible with Mac OSX.  You can still use the older
    ; legacy sqlite library if you are using Mono 2.4.  Please see the notes in OpenSim.ini (search for sqlite)
    ; for more details
    ;Include-Storage = "config-include/storage/SQLiteLegacyStandalone.ini";

    ; MySql
    ; Uncomment these lines if you want to use mysql storage
    ; Change the connection string to your db details
    ;StorageProvider = "OpenSim.Data.MySQL.dll"
    ;ConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=***;"
    ; Uncomment this line if you are using MySQL and want to use a different database for estates
    ;EstateConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=***;"

